<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
      <!-- <div class="user-image">
        <img src="images/faces/face28.png">
      </div> -->
      <div class="user-name">
          {{utilisateur.nomPrenom}}
          
      </div>
      <div class="user-designation">
          Developer
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="accueil">
          <i class="icon-box menu-icon"></i>
          <span class="menu-title">Accueil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-disc menu-icon"></i>
          <span class="menu-title">Utilisateurs</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-user">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="liste/utilisateur">Liste</a></li>
            <li class="nav-item"> <a class="nav-link" href="form/utilsateur">Nouveau</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-presence" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-disc menu-icon"></i>
          <span class="menu-title">Présence</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-presence">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="liste/presence">Liste</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Nouveau</a></li>
          </ul>
        </div>
      </li>
<!--  
      <li class="nav-item">
        <a class="nav-link" href="pages/icons/feather-icons.html">
          <i class="icon-help menu-icon"></i>
          <span class="menu-title">Icons</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Déconnexion</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" (click)="logout()"> <a class="nav-link"  href="#"> Se deconnecter </a></li>
            <li class="nav-item"> <a class="nav-link" href="/profil"> Profil </a></li>

          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="docs/documentation.html">
          <i class="icon-book menu-icon"></i>
          <span class="menu-title">Profil</span>
        </a>
      </li>
    </ul>
  </nav>